@charset "UTF-8";
/*Обнуление стилей*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  color: black;
  overflow-x: hidden;
}

html {
  /* по умолчанию */
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
  font-family: 'League Spartan', 'sans-serif';
}

.header {
  background: #F8F8F8;
}

.header__container {
  padding: 104px 15px 168px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

@media (max-width: 767.98px) {
  .header__container {
    padding: 80px 15px;
  }
}

.header__image img {
  max-width: 100%;
}

.watch__title {
  font-family: inherit;
  font-weight: 300;
  font-size: 24px;
  line-height: 44.64px;
  color: #161515;
  margin-bottom: 53px;
}

@media (max-width: 1087px) {
  .watch__title {
    font-size: 16px;
  }
}

.watch__text-large {
  font-family: inherit;
  font-weight: 300;
  font-size: 250px;
  line-height: 230px;
  color: #272727;
  margin-bottom: 43px;
}

@media (max-width: 1087px) {
  .watch__text-large {
    font-size: 140px;
    line-height: 120px;
  }
}

@media (max-width: 767.98px) {
  .watch__text-large {
    font-size: 100px;
    line-height: 90px;
    margin-bottom: 20px;
  }
}

.watch__info {
  font-family: inherit;
  font-weight: 300;
  font-size: 32px;
  line-height: 50px;
  color: #161515;
  max-width: 575px;
  margin-bottom: 60px;
}

@media (max-width: 1087px) {
  .watch__info {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .watch__info {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}

.watch__info p:not(:last-child) {
  margin-bottom: 15px;
}

.watch__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 421px;
  height: 82px;
}

@media (max-width: 1087px) {
  .watch__action {
    max-width: 340px;
    height: 50px;
  }
}

@media (max-width: 767.98px) {
  .watch__action {
    height: 40px;
  }
}

.watch__buy {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 278px;
          flex: 0 1 278px;
  height: inherit;
  background: #161515;
  color: #ffff;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  line-height: 82px;
}

@media (max-width: 1087px) {
  .watch__buy {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 170px;
            flex: 0 1 170px;
    font-size: 24px;
    line-height: 50px;
  }
}

@media (max-width: 1087px) and (max-width: 767.98px) {
  .watch__buy {
    font-size: 18px;
    line-height: 40px;
  }
}

.watch__price {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 143px;
          flex: 0 1 143px;
  height: inherit;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 28px rgba(214, 214, 214, 0.25);
          box-shadow: 0px 0px 28px rgba(214, 214, 214, 0.25);
  font-size: 32px;
  font-weight: 300;
  color: #272727;
  text-align: center;
  line-height: 82px;
}

@media (max-width: 1087px) {
  .watch__price {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90px;
            flex: 0 1 90px;
    font-size: 24px;
    line-height: 50px;
  }
}

@media (max-width: 767.98px) {
  .watch__price {
    font-size: 18px;
    line-height: 40px;
  }
}

.models {
  background: #FFFFFF;
}

.models__container {
  padding-top: 45px;
  padding-bottom: 60px;
}

.models__title {
  font-family: inherit;
  font-size: 24px;
  font-weight: 300;
  line-height: 45px;
  text-align: center;
  margin-bottom: 84px;
}

.models__title span {
  font-weight: 400;
  font-size: 72px;
  text-transform: capitalize;
  line-height: 81px;
}

.models__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.models__item:not(:last-child) {
  margin-bottom: 84px;
}

.models__image {
  margin: 0 auto 67px auto;
  max-width: 417px;
  height: 630px;
  background: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.models__image img {
  max-width: 100%;
}

.models__info {
  max-width: 510px;
}

.models__name {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.models__description {
  font-size: 32px;
  font-weight: 300;
  line-height: 50px;
  text-align: center;
}

.product__container {
  padding-bottom: 142px;
}

.product__title {
  font-size: 32px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  color: #161515;
  margin-bottom: 60px;
}

.product__title::after {
  content: '';
  max-width: 178px;
  height: 1px;
  margin: 0 auto;
  display: block;
  background: #707070;
}

.product__subtitle {
  max-width: 515px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 40px;
}

.product__subtitle a {
  color: #BB8B5D;
  text-decoration: underline;
}
